name: Docker CI

on:
  schedule:
    - cron: '0 0 * * 1,3,6'
  workflow_dispatch:
  push:

jobs:
  build_and_push:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Log in to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96
        with:
          images: |
            justsky/rclone-gui
            ghcr.io/${{ github.repository }}
      
      - name: Build and push Docker arm64 images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfile.arm64
          platforms: linux/arm64
          push: true
          tags: justsky/rclone-gui:arm64
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/rclone-gui:buildcache_arm
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/rclone-gui:buildcache_arm,mode=max

      - name: Build and push Docker amd64 images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfile.amd64
          platforms: linux/amd64
          push: true
          tags: justsky/rclone-gui:amd64
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/rclone-gui:buildcache_amd
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/rclone-gui:buildcache_amd,mode=max

      - name: Send Discord Notif
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          #content: "Honeypots Docker image has been pushed to repo."
          title: "CI"
          description: "Build and pushed Docker image"
          color: 0x0000ff
          url: "https://github.com/just5ky/rclone-gui"
          username: GitHub Actions
          avatar_url: https://raw.githubusercontent.com/walkxcode/dashboard-icons/main/png/github.png
